{% extends 'mail/mail_layout.html.twig' %}

{% block body_mail %}
    <div id="title" style="height: 100px; background-color: #ff9458; text-align: center; font-size: 3em">
        Votre demande de RDV du {{ appointement.slotTime|date('d/m/Y H-i')}} a été refusée.
    </div> <br />

    <div>
        Pour faire une nouvelle demande de rdv : <a href="{{ homepageUrl }}">Cliquez ici</a>
    </div>
{% endblock %}
