{% extends 'mail/mail_layout.html.twig' %}

{% block body_mail %}
    <p>
        Un compte en tant que réparateur chez <strong>{{ repairer.name }}</strong> vient de vous être créé. <br />
        Pour vous vous connecter sur  la plateforme :
    </p>
    <ul>
        <li>
            URL : <a href="{{ webAppUrl }}">rustine-libre.org</a>
        </li>
        <li>
            LOGIN : {{ employee.email }}
        </li>
        <li>
            MOT DE PASSE : {{ employee.plainPassword }}
        </li>
    </ul>
    <br /><br />
    <p>
        Ce mot de passe est temporaire, veillez à le modifier depuis votre espace personnel.
    </p>
{% endblock %}
