{% extends 'mail/mail_layout.html.twig' %}

{% block body_mail %}
    <p>
        Vous avez fait une demande de mot de passe oublié (si vous n'êtes pas à l'origine de cette demande, ignorez cet email) <br />

        Pour modifier votre mot de passe :
    </p> <br /> <br />

    <a href="{{ changePasswordUrl }}">Cliquez ici</a>

{% endblock %}
