{% extends 'mail/mail_layout.html.twig' %}

{% block body_mail %}
<div style="padding:20px; text-align:center">
  <h1 style="font-weight:700; font-size:28px; margin-bottom:30px">Mot de passe oublié</h1>
  <p style="margin-bottom:14px; font-size:14px;">Vous avez fait une demande de mot de passe oublié (si vous n'êtes pas à l'origine de cette demande, ignorez cet email)</p>
  <p style="margin-bottom:14px; font-size:14px;">Pour modifier votre mot de passe : <a href="{{ changePasswordUrl }}">Cliquez ici</a></p>
</div>
{% endblock %}
