<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#2F558A">
        <title>Rustine libre</title>
    </head>
    <div class="body_mail">
        {% block body_mail %}{% endblock %}
    </div>
</html>
