<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#2F558A">
        <title>Rustine libre</title>
    </head>
    <body style="background-color:#eef2f6;font-family:sans-serif;color:#334155">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%">
            <tbody>
                <tr>
                    <td align="center" style="background-color:#eef2f6">
                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%">
                            <tbody>
                                <tr height="20">
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding:20px">
                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%;max-width:650px;border-radius:15px;background-color:white">
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #ee721d;border-top-left-radius:15px;border-top-right-radius:15px">
                                                    <!-- attention : remplacer l'URL de l'image par l'image présente dans public/img/email/logo-email.png, il faudra le basepath de l'environnement du coup -->
                                                        <img border="0" width="200" style="margin:15px" height="37" alt="Rustine libre" title="Rustine libre" src="https://zupimages.net/up/23/36/gacn.png" >
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% block body_mail %}{% endblock %}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="20">
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                <tr>
            <tbody>
        </table>
    </body>
</html>
