{% extends 'mail/mail_layout.html.twig' %}

{% block body_mail %}
    <div id="title" style="height: 100px; background-color: #ff9458; text-align: center; font-size: 3em">
        Demande d'inscription réparateur
    </div> <br />

    <div>
        <p>
            Votre demande d'inscription a bien été enregistrée.
            Elle est désormais en attente de validation et sera rapidement traitée.
        </p>
    </div>
{% endblock %}
