{% extends 'mail/mail_layout.html.twig' %}

{% block body_mail %}
    <p>
        <div id="title" style="height: 100px; background-color: #ff9458; text-align: center; font-size: 2.5em">
            Votre code de validation La Rustine Libre
        </div>

        <br />
        <br />

        <span style="font-size: 1.5em; margin-top: 20px; margin-left: 50px"><strong>{{ user.validationCode }}</strong></span>
    </p>

{% endblock %}
